@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

/* Custom Font */
.font-times {
  @apply font-serif text-[20px];
}
